.side-menu{
    position: fixed;
    height: 100vh;
    widows: 200px;
    background-color: rgb(247, 247, 247);
    overflow-y: scroll;
}

.management-area{
    position: absolute;
    top: 4rem;
    left: 200px;
    right: 0;
}

table.table{
    width: 100%;
}

div.create-user{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}